<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66624004703-guo1mpq2lh7kp3cfpl031a3811jvafor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66624004703-guo1mpq2lh7kp3cfpl031a3811jvafor</string>
	<key>API_KEY</key>
	<string>AIzaSyBEEd4wjhBKj1SYAL8MmOqRvmA4PkhZDg4</string>
	<key>GCM_SENDER_ID</key>
	<string>66624004703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calling.kundali</string>
	<key>PROJECT_ID</key>
	<string>redapp-8ebad</string>
	<key>STORAGE_BUCKET</key>
	<string>redapp-8ebad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66624004703:ios:3805d1798d802edc6771ea</string>
</dict>
</plist>